*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: #ff7700; 
    --bc-color: #fff;
    --ft-color: #ccc;
}

html{
    scroll-padding-top: 70px;
}

/* components
    header.html
    footer.html
*/



/*----BODY STYLE----*/

.body{
    font-family: Montserrat;
    background-color: var(--bc-color);
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

/*---HEADER----*/

.header_style{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

/*----HEADER IMG STYLE----*/
.header_img_a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 30px;
}
.header_img{
    width: 150px;
    max-height: 100px;
    max-width: 100%;
    margin: 10px 20px;
}

.header_img:hover{
    box-shadow: 0 0 5px 0 #0006;
}

/*----HEADER CONTACT BAR----*/

.contact_bar{
    display: none;
}

@media screen and (min-width:700px) {

    .contact_bar{ 
        font-size: 13px; 
        display: flex;
        width: 100%; 
        background-color: #eee;
        padding: 2px 10px; 
        justify-content: center;
        align-items: center;
    } 

    .contact_list{ 
        margin:0; 
        padding:0;
        display: flex; 
        flex-direction: row; 
        list-style: none; 
        gap:50px; 
        justify-content: center;
        align-items: center;
    } 
    
    .contact_list_item_a { 
        color: inherit; 
        text-decoration: none; 
        font-size: 14px; 
        font-weight: 600;
    } 

    .contact_list_item{
        display: flex;
        text-align: center;
        height: auto;
    }

    .contact_list_item_a span{ 
        font-size: 14px; 
        margin-right:5px ;
        font-weight: 600;
    } 

    .whatsapp{
        color:green;
    }

        .contact_list_item_a:hover{
        text-decoration: underline; 
    }

    .contact_list_img{
        position: relative;
        width: 25px;
        height: 18px;
        top:0;
        object-fit: contain;
    }


}
/*----NAV STYLES----*/

.nav_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    border-bottom: 2px solid #0004;
}


.nav{
    color: #000;
    background-color: var(--nav-color);

    height: 100dvh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 20;

    position: fixed;
    transform: translateX(100%);
    transition: transform 0.4s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.open{
    transform: translateX(0%);
}


.menu_btn{
    user-select: none;
    z-index: 30;
    cursor: pointer;
    background-color:  var(--nav-color);
    border: none;
}

.menu_btn:hover{
    box-shadow: 0 0 10px 0px #0002;
}

.nav_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content:space-between;
    margin: auto;
}

.nav_list_item{
    display: flex;
    padding-bottom: 100px;
}


.nav_list_item_a{
    font-weight: 600;
    text-decoration: none;
    color:inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav_list_item_a:hover{
    text-decoration: underline;
}

.nav_list_item_a span{
    padding-right: 20px;
}



/*----NAV MEDIA QUERIES----*/

@media screen and (min-width:700px){
    button.menu_btn{ /*Label por que le da mas especifidad, ya que el google icon lo sobreescribe*/
    display: none;
}

.nav_list_phone{
    display:none;
}

    .header_container{
        display: flex;
        align-items: center;
    }

    .nav{
        position: static;
        height: auto;
        transform: translateX(0%);
    }

    .nav_list_container{
        display: flex;
    }

    .nav_list{
        flex-direction: row;
        gap: 65px;
    }

    .nav_list_item{
        padding: 0;
    }

    .header_img{
        display:flex;
        width: 350px;
        max-height: 180px;
        }

}

@media  screen and (max-width:699px){

.nav_list_desktop{
    display: none;
}

.nav_list_phone{
    justify-content: center;
}

.nav_list{
    padding: 0;
    width: 100%;
    padding-left: 24px;
}

.nav_list_item_arrow{
    position: absolute;
    right:0px;
}

.nav_list_item{
    margin: 0px;
    display:flex;
}

.nav_list_item_a{
    display: flex;
    width: 100%;
    flex:1;
    align-items: center;
    justify-content: flex-start;
}


.nav_list_phone .nav_list_item{
    padding:0;
    padding-top: 50px;
    margin: 0;
}

.nav_list_phone .nav_list_item:first-child{
    padding: 0;
}

.nav_list_container{
    width: 100%;
    height: 100%;
    display: flex;
}

}


/*----NAR SEARCH BAR STYLE*/

.search_bar_container{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar_input{
    background-color: #eee;
    width: 60%;
    height: 30px;
    font-size: 14px;
    font-family: Montserrat;
    padding-left: 10px; 
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

.search_bar_input:hover{
    box-shadow: 0 0 10px 0 #0004;
}

.search_bar_input:focus{
    outline: none;
    border:none;
}

.search_bar_input::placeholder{
    font-size: 14px;
    font-family: Montserrat;

}

.search_bar_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar_button{
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 0 20px 20px 0;
    margin-left: -5px;
}

.search_bar_suggestions_item{
    background-color: #fff;
}


/*----MAIN STYLES----*/

.main{
    flex:1;
    background-color: #f5f5f5;
    margin-top: 75px;
}

.main_product_show_tittle{
    
    margin-top: 50px;
    padding-left: 24px;
}

/*----PRODUCT SHOW PHONE----*/

    .main_desktop{
        display: none;
    }

    .main_product_show{
    padding: 24px;
    background-color: #f5f5f5;
    }

    .main_product_show_tittle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    }

    .main_product_show_list{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-bottom: 12px;
    }

    .product_card {
    background: #fff;
    min-width: 220px;
    max-width: 220px;
    border-radius: 12px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .main_product_show_tittle_secundary{
        margin-bottom: 15px;
    }

    .product_card img {
    width: 100%;
    object-fit: contain;
    margin-top: 24px;
    min-height: 291px;
    }

    .product_name {
    font-size: 14px;
    font-weight: 500;
    min-height: 38px;
    }

/*----MEDIA QUERIES MAIN----*/

    @media (max-width: 699px) {
    .offers {
        padding: 16px;
    }
    }

    .main_product_show_a{
        color: #000;
        text-decoration: none;
    }

    .main_product_show_a:hover{
        text-decoration: underline;
    }

    @media screen and (min-width:700px) {
        .main_phone{
            display: none;
        }

        .main_desktop{
            display: block;
        }

        .main_container{
            background-color: #f5f5f5;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main_desktop{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            background-color:inherit;
            border: 5px solid #eee;
        }

        .desktop{
            background-color: inherit;
        }


        .product_card{
            min-width: 240px;
            max-width: 255px;
            min-height:312px ;
        }

        * {
        scrollbar-width: none;      
        scrollbar-color: #ff7a00 #f1f1f1;   
        }

        .main_desktop__product_transition {
        position: relative;
        padding: 50px;
        margin-top: 70px;
        }
        .main_desktop_product_container {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        scrollbar-width: none;
        }
        .main_desktop_product_container::-webkit-scrollbar {
        display: none;
        }

        .main_desktop__product_buttom{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255,255,255,.95);
        border: none;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0,0,0,.25);
        z-index: 5;
        }

        .main_desktop__product_buttom.left {
        left: -50px;
        }

        .main_desktop__product_buttom.right {
        right: -50px;
        }

        .main_desktop__product_buttom:hover {
        background: #fff;
        }

        .main_product_show_tittle_secundary{
            font-size: 24px;
            position: absolute;
            top:30px;
            left:80px;
        }

    }


/*----FOOTER---*/

    .footer_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0;
    background-color: var(--ft-color);
    }

    .footer_logo_img {
    max-width: 200px;
    margin-top: 30px;
    }

    .footer_tittle_secundary {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
    }

    .footer_list_item_a{
        color: inherit; 
        text-decoration: none; 
        font-size: 15px; 
    }

    .enlaces{
        display: flex;
        flex-direction: column;
    }

    .footer_block{
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }
    
    .footer_block p {
    font-size: 14px;
    margin: 4px 0;
    color: #000;
    }

    .footer_block small {
    font-size: 11px;
    color: #555;
    }

    .footer_icon{
        font-size: 5px;
    }

    .footer_block a {
    color: #000;
    text-decoration: none;
    }

    .footer_block a:hover {
    text-decoration: underline;
    }
    .footer_block_p{
        font-weight: 700;
    }

