<header class="header_style">
    <div class="header_width">
        <div class="contact_bar">
            <ul class="contact_list">
                <li class="contact_list_item">
                        <a href="https://www.google.com/maps/dir//Las+Flores+460,+Wilde,+Provincia+de+Buenos+Aires/@-34.7938778,-58.2006839,15z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x95a33268f6e0dc8f:0x8a12f24269e78b2a!2m2!1d-58.3127094!2d-34.6998056?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D" rel= "noopenner noreferrer nofollow" target="_blank" class="contact_list_item_a">
                            <span class="material-symbols-outlined">location_on</span>B1875 Las Flores 460 - Wilde</a>
                </li>
                <li class="contact_list_item">
                        <img class="contact_list_img" src="Whatsapp-logo.png">
                        <a href="#" class="contact_list_item_a whatsapp">Whatsapp-Las Flores</a>
                </li>
                <li class="contact_list_item">
                        <a href="https://www.google.com/maps/dir//Avenida+Mitre+6501,+Wilde,+Provincia+de+Buenos+Aires/@-34.7938778,-58.2006839,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95a3334895c9a8e5:0x7a8d6224deb66e4c!2m2!1d-58.3162098!2d-34.7054882?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D" rel= "noopenner noreferrer nofollow" target="_blank" class="contact_list_item_a">
                            <span class="material-symbols-outlined">location_on</span>B1875 Mitre 6501 esq Echeverría - Wilde</a>
                </li>
                <li class="contact_list_item">
                        <img class="contact_list_img" src="Whatsapp-logo.png">
                        <a href="#" class="contact_list_item_a whatsapp">Whatsapp-Mitre</a>
                </li>
            </ul>
        </div>
        <div class="nav_container">
            <a href="/index.html" class="header_img_a">
                <img class="header_img" src="Logo-bueno.png">
            </a>
            <div class="search_bar_container">
                <form class="search_bar_form" role="search">
                    <input type="text" class="search_bar_input" placeholder="Buscar producto..." list="suggestions">
                    <button type="submit" class="search_bar_button material-symbols-outlined">search</button>
                </form>
            </div>
            <button class="menu_btn material-symbols-outlined">menu</button>
            <nav class="nav">
                <div class="nav_list_container">
                        <ul class="nav_list nav_list_phone">
                            <li class="nav_list_item"><a href="/index.html#televisores" class="nav_list_item_a"><span class="material-symbols-outlined">Tv</span>Televisores<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#aires" class="nav_list_item_a"><span class="material-symbols-outlined">Climate_Mini_Split</span>Aires<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#celulares" class="nav_list_item_a"><span class="material-symbols-outlined">mobile_2</span>Celulares<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#lavarropas" class="nav_list_item_a"><span class="material-symbols-outlined">Local_laundry_service</span>Lavarropas<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#heladeras" class="nav_list_item_a"><span class="material-symbols-outlined">kitchen</span>Heladeras<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#cocinas" class="nav_list_item_a"><span class="material-symbols-outlined">oven_gen</span>Cocinas<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#parlantes" class="nav_list_item_a"><span class="material-symbols-outlined">speaker</span>Parlantes<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                            <li class="nav_list_item"><a href="/index.html#otros" class="nav_list_item_a"><span class="material-symbols-outlined">shopping_cart_checkout</span>Otros<span class="material-symbols-outlined nav_list_item_arrow">chevron_right</span></a></li>
                        </ul>
                    <ul class="nav_list nav_list_desktop">
                        <li class="nav_list_item dropdown-container">
                                <button class="nav_list_item_buttom electrodomesticos main_desktop" id="dropdownElectro">
                                    <span class="material-symbols-outlined">tv</span>Electrodomesticos <span class="material-symbols-outlined dropdown-arrow">Keyboard_Arrow_Down</span>
                                </button>
                                
                                <!-- Menú desplegable -->
                                <div class="dropdown-menu-electro" id="menuElectro">
                                    <a href="/index.html#televisores" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">Tv</span>Televisores
                                    </a>
                                    <a href="/index.html#aires" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">Climate_Mini_Split</span>Aires Acondicionados
                                    </a>
                                    <a href="/index.html#celulares" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">mobile_2</span>Celulares
                                    </a>
                                    <a href="/index.html#lavarropas" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">Local_laundry_service</span>Lavarropas
                                    </a>
                                    <a href="/index.html#heladeras" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">kitchen</span>Heladeras
                                    </a>
                                    <a href="/index.html#cocinas" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">oven_gen</span>Cocinas
                                    </a>
                                    <a href="/index.html#parlantes" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">speaker</span>Parlantes
                                    </a>
                                    <a href="/index.html#otros" class="dropdown-item-electro">
                                        <span class="material-symbols-outlined">shopping_cart_checkout</span>Otros
                                    </a>
                                </div>
                        </li>
                        <li class="nav_list_item dropdown-container">
                            <button class="nav_list_item_buttom descanso main_desktop" id="dropdownDescanso">
                                <span class="material-symbols-outlined">Bed</span>Descanso <span class="material-symbols-outlined dropdown-arrow">Keyboard_Arrow_Down</span>
                            </button>
                            
                            <!-- Menú desplegable Descanso -->
                            <div class="dropdown-menu-electro" id="menuDescanso">
                                <a href="/index.html#colchones" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">bed</span>Colchones
                                </a>
                                <a href="/index.html#sommiers" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">hotel</span>Sommiers
                                </a>
                                <a href="/index.html#almohadas" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">bedroom_parent</span>Almohadas
                                </a>
                                <a href="/index.html#sabanas" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">checkroom</span>Sábanas
                                </a>
                            </div>
                        </li>
                        <li class="nav_list_item dropdown-container">
                            <button class="nav_list_item_buttom muebles main_desktop" id="dropdownMuebles">
                                <span class="material-symbols-outlined">desk</span>Muebles <span class="material-symbols-outlined dropdown-arrow">Keyboard_Arrow_Down</span>
                            </button>
                            <div class="dropdown-menu-electro" id="menuMuebles">
                                <a href="/index.html#living" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">weekend</span>Living
                                </a>
                                <a href="/index.html#comedor" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">table_restaurant</span>Comedor
                                </a>
                                <a href="/index.html#dormitorio" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">single_bed</span>Dormitorio
                                </a>
                                <a href="/index.html#oficina" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">chair</span>Oficina
                                </a>
                                <a href="/index.html#exterior" class="dropdown-item-electro">
                                    <span class="material-symbols-outlined">deck</span>Exterior
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </header>