<main class="main">
    <div class="banner_container main_desktop">
        <img src="assets/banners/banner_principal.webp" alt="" class="banner main_desktop">
        <img src="assets/banners/banner_principal_mobile.png" alt="" class="banner main_phone">
    </div>

    <section class="categorias_section">
        <div class="categorias_grid">

            <a href="categoria.html?cat=electrodomesticos" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">kitchen</span>
                </div>
                <span class="categoria_nombre">Linea Blanca</span>
            </a>

            <a href="categoria.html?cat=tv-audio" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">tv</span>
                </div>
                <span class="categoria_nombre">TV y Audio</span>
            </a>

            <a href="categoria.html?cat=muebles" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">chair</span>
                </div>
                <span class="categoria_nombre">Muebles</span>
            </a>

            <a href="categoria.html?cat=climatizacion" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">climate_mini_split</span>
                </div>
                <span class="categoria_nombre">Climatización</span>
            </a>

            <a href="categoria.html?cat=hogar" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">bed</span>
                </div>
                <span class="categoria_nombre">Hogar</span>
            </a>

            <a href="categoria.html?cat=celulares" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">smartphone</span>
                </div>
                <span class="categoria_nombre">Dispositivos</span>
            </a>

            <a href="categoria.html?cat=pequenos" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">blender</span>
                </div>
                <span class="categoria_nombre">Pequeños Electrodomésticos</span>
            </a>

            <a href="categoria.html?cat=salud" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">health_and_safety</span>
                </div>
                <span class="categoria_nombre">Salud y Cuidado Personal</span>
            </a>

            <a href="categoria.html?cat=playa-camping" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">beach_access</span>
                </div>
                <span class="categoria_nombre">Playa y Camping</span>
            </a>

            <a href="categoria.html?cat=varios" class="categoria_card">
                <div class="categoria_icon_wrap">
                    <span class="material-symbols-outlined">category</span>
                </div>
                <span class="categoria_nombre">Artículos Varios</span>
            </a>

        </div>
    </section>

    <div class="container-ofertas"></div>
    <div class="main_container">
        <div class="loader">
            <div class="spinner"></div>
            <p>Cargando productos...</p>
        </div>
    </div>
</main>